/* Estilos generales... */
  
  td:last-child {
    text-align: center;
  }
  
  /* Estilos para íconos de acciones */
  .actions {
    display: flex;
    justify-content: center;
  }
  
  /* Resto de estilos... */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #f25a38;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label, input, select, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  input, select, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #f25a38;
    cursor: pointer;
  }
  
  button:last-child {
    background-color: #ccc;
  }
  
  button:hover {
    background-color: #f36e4e;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  th {
    background-color: #f5f5f5;
  }
  
  .actions button {
    border: none;
    cursor: pointer;
    margin: 0 5px;
    font-size: 16px;
  }
  

  .actions button.edit {
    background-color: #eeff00f7;
  }
  

  .actions button.delete {
    background-color: #f25a38;
  }

  td.description {
    max-width: 300px;
    white-space: normal;
    word-wrap: break-word;
  }